*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    font-family: sans-serif;
    background-color: rgb(233, 145, 45);
}

h1{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color:yellowgreen;
}
.container{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:yellowgreen;
}
.calc{
    box-shadow: 6px 6px 13px #fff, 6px 6px 13px rgba(0,0,0,.16);
    border-radius:28px;
    padding:16px;
    display:grid;
    grid-template-columns:repeat(4,66px);
}

input{
    grid-column:span 4;
    height:68px;
    width:258px;
    box-shadow: inset -20px -20px 13px #fff, inset 6px 6px 13px rgba(0,0,0,.16);
    background-color:#e7e4b2;
    border:none;
    border-radius:32px;
    color: rgb(26,25,25);
    text-align:end;
    margin:40px 0px 30px 0px;
    padding:20px;
    font-size:40px;
}

button{
    box-shadow:  inset 6px 6px 13px #fff, inset -35px -35px 13px rgba(0,0,0,.16);
    border:none;
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:10px;
    font-weight:bold;
    font-size:20px;
    /* background-color:yellowgreen; */
    background-color:yellowgreen;

}
.equal{
    width:120px;
    border-radius:42px;
    box-shadow: inset 6px 6px 13px #fff, inset -35px -35px 13px rgba(0,0,0,.16);
    background-color:yellowgreen;
}